
{% include JB/setup %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ ASSET_PATH }}/hsp/css/main.css" />
    <title>{{ site.title }} &ndash; {{ site.tagline }}</title>
</head>
<body>

<header>
    <h1>{{ site.title }}</h1>
    <h2><a href="{{ BASE_PATH }}">{{ site.tagline }}</a></h2>
</header>


<h3>Chapter 1: Introduction</h3>

<p>Programming is an art form. The way some people are stunned by a Monet or Turner, I am stunned by a piece of beautiful code. The way some people get angry when they hear someone play their favourite song wrong on a guitar, I get angry when I see wrong code. Art is about provoking feelings in the beholder, and code can have that effect on programmers who are devoted to their skill.</p>

<p>Programming is also an intellectual exercise, much like composing music is a creative exercise. When the musician gets that "Ah! Yes! This is precisely what I need to make the song better" feeling, a programmer somewhere else in the world exclaims to themself or their friends, "Ah! Yes! This is precisely what I need to make the code better."</p>

<p>The difference between good code and bad code is huge. Good code should</p>

<ul>
    <li>Be easy to read,</li>
    <li>Express the programmers intent clearly,</li>
    <li>Be easy to fix if something goes wrong,</li>
    <li>Be easy to reuse when conditions change, and</li>
    <li>Be stable and not suddenly go very wrong.</li>
</ul>

<p>You will find that in many ways, good code resembles good scaffolding. It should not obstruct anything, it should be modular, it should allow for transportation and, most of all, it should provide stability and safety for the people who use it. Lives depend on good scaffolding, and lives depend on good code.</p>

<p>All of these requirements are difficult to achieve, and most often, programmers miss one or two of them. The purpose if this book is to teach you programming and writing code that meets as many as possible of those requirements.</p>

<p>Programming should of course also be a fun pastime. It is a hobby where you can decide on your own how challenging you want it to be.</p>

<h4>1.1 Programming Languages</h4>

<p>Just as languages like English, Chinese or Spanish are used to communicate between people, programmers need a language to communicate with the computer. These are called <em>programming languages</em> and there have been many different programming languages invented throughout the history of computing. Many were short-lived, many had a thriving user base but are now extinct, and a few are used today, both old and new.</p>

<p>The first programming language of computers as we know them today was what we now call <em>machine code</em>. Machine code is a language expressed in numbers, which the \textsc{cpu} &ndash; <em>the central processing unit</em>, the computational core of a computer -- was designed to understand.</p>

<p>Eventually, programmers got tired of expressing themselves in the language of their computers, so they gave names to numbers that occurred often, and constructed an automatic translator that would translate those names into the correct numbers that the \textsc{cpu} could understand. That is what humans do; they invent <em>abstractions</em> to make things easier to handle.</p>

<p>hai soetis :&gt;</p>


<footer>
    2012 &copy; kqr
</footer>

</body>
</html>
