

<article>
<h1>{{ page.title }}</h1>

{{ content }}

<nav>
<ul>
    
    <li>{% if page.previous %}
        <a rel="prev" href="{{ page.previous.url }}">{{ page.previous.title }}</a>
        {% else %}
        &nbsp;
        {% endif %}
    </li>

    <li>|</li>
    <li><a href="#top">Top</a></li>
    <li>|</li>

    <li>{% if page.next %}
        <a rel="next" href="{{ page.next.url }}">{{ page.next.title }}</a>
        {% else %}
        &nbsp;
        {% endif %}
    </li>
</ul>
</nav>
</article>
