

<article>
<h1>{{ page.title }}</h1>

{{ content }}

<nav>
<ul>
    
    <li>{% if page.previous %}
        <a rel="prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&#x21BB;</a>
        {% else %}
        &nbsp;
        {% endif %}
    </li>

    <li><a href="#top" title="To the top">&#x219F;</a></li>
    
    <li>{% if page.next %}
        <a rel="next" href="{{ page.next.url }}" title="{{ page.next.title }}">&#x21BA;</a>
        {% else %}
        &nbsp;
        {% endif %}
    </li>

</ul>
</nav>
</article>
